@import url('all.min.css');
@import url('fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('grid.css');
*{ margin-block-start: 0; margin-block-end: 0;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    color:#000;
    overflow-x:hidden;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    color:#222;
}
.d-flex{
    display:flex;
}
.justify-content-between{
    justify-content: space-between;
}

.container{
    width: 1360px;
    min-width:664px;
}
.top-nav{
    position:fixed;
    z-index:999;
    width:100%;
    height:40px;
    top:0;
    left:0;
    border-bottom:1px solid #ddd;
    background:rgba(255,255,255,0.95);
}
.top-nav a{
    line-height:40px;
    font-size:.8em;
    display:inline-block;
    position:relative;
}
.top-nav a:not(.sns)::before{
    content:"";
    height:1px;
    width:100%;
    background:#333;
    opacity:0;
    position:absolute;
    display:block;
    left:0;
    top:39px;
    transition:all .3s;
} 
 .top-nav a:not(.sns):hover::before{
    opacity:1;
} 
.top-left,.top-right{
    padding-left:15px;
    padding-right:15px;
}
.top-left a:first-child::after{
    content:"";
    width:1px;
    height:12px;
    background:#ddd;
    display:inline-block;
    margin-left:12px;
    margin-top:3px;
}

.top-nav a:nth-child(2){
    margin-right:10px;
}
a.sns{
    display:inline-block;
    width:27px;
    height:27px;
    border-radius:50%;
    background:rgba(22, 93, 247, 0.08);
    font-size:15px;
    line-height:27px;
    text-align:center;
    margin-right:5px;
    transition:all .2s ease-in-out;
}
a.sns:hover{
    background:rgba(22, 93, 247, 1);
    color:#fff;
}
.top-right{
    width:45%;
}
.top-right fieldset{
   margin:0;
   padding:0;
   margin-right:15px;
   border:none;
}
.top-right legend{
   display:none;
}
.top-right span{
    display:block;
    position:relative;
}
.top-right span.point5{
    position:absolute;
    top:30px;
    left:-5px;
    display:block;
    font-size:11px;
    line-height:25px;
    background:#333;
    color:#fff;
    width:65px;
    height:25px;
    border-radius:5px;
    text-align:center;
}
ul.myshop{
    list-style:none;
    margin:0;
    padding:0;
    border:1px solid #ddd;
    border-top:none;
    width:150%;
    position:absolute;
    left:-15px;
    text-align:center;
    padding-left:15px;
    padding-right:15px;
    display:none;
}
.brrr{
    animation-name: brrr;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-name: brrr;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
}
ul.myshop li{
    border-bottom:1px solid #ddd;
}
ul.myshop li:hover{
    background-color:#eee;
}
.fa-chevron-down{
    margin-left:5px;
}
#search{
  border-radius: 5px 0 0 5px;
  border:none;
  background:rgba(0,0,0,0.07);
  font-size:16px;
  padding:3px 10px 4px;
  margin:7px 0;
  width:150px;
  transition:all 0.4s;
}
#search:hover,#search:focus{
    background:rgba(0,0,0,0.2);
}
#search-btn{
    border:none;
    padding:5px 10px;
    border-radius: 0 5px 5px 0;
    margin-left:-6px;
}
#search-btn:hover{
    background:rgba(0,0,0,0.2);
}

/** header **/
.header-top{
    padding-top:70px;
    padding-bottom:50px;
    border-bottom:1px solid #ddd;
}
.header-top h1{
    text-align:center;
    font-size: 3em;
    font-family: 'Sail', cursive;
    color:rgb(87, 4, 136);
}
nav{
    height:50px;
    border-bottom:1px solid #ddd;
}
.global{
    position:relative;
}
ul.gnb{
    list-style:none;
    margin:0;
    padding:0;
}
ul.gnb li{
    font-size:1em;
    font-weight:700;
    line-height:50px;
    text-align:center;
    text-transform: uppercase;
    position:relative;
}
ul.gnb li:not(.first){
    padding-left:20px;
    padding-right:20px;
}
ul.gnb li.first{
    font-size: 1.5em;
    width:50px;
    /* border-right:1px solid #ddd; */
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
li.first{
    padding-top:5px;
    position:relative;
    cursor:pointer;
}
li.first-over::after{
    content:"";
    width:100%;
    height:1px;
    background:#fff;
    position:absolute;
    left:0;
    bottom:0;
}
.bar,.barover{
    width:30px;
    height:3px;
    background-color:#333;
    margin:7px auto;
    transition: all 0.4s;
}
.barover:first-child{
    transform:rotate(-45deg) translate(-9px,10px);
}
.barover:nth-child(2){
    opacity:0;
}
.barover:last-child{
   transform: rotate(45deg) translate(-5px, -5px);
}

ul.gnb{
    border-right:1px solid #ddd;
}
ul.all{
    margin:0;
    padding:0;
    border:1px solid #ddd;
    border-top:none;
    padding:20px;
    height:300px;
    overflow-y:auto;
    background:#fff;
    list-style:none;
    position:absolute;
    top:50px;
    left:0;
    width:100%;
    text-transform: uppercase;
    display:none;
    z-index: 10;
}
ul.all>li{
    width:14%;
    text-align:center;
    border-right:1px dashed #ddd;
    padding: 15px 0;
}
ul.all>li:last-child{
    border:none;
    background:#eee;
}
ul.sub{
    list-style:none;
    padding:0;
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
}
ul.sub li{
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px dotted #eee;
}
ul.sub li:hover{
    background:#ddd;
}
.fadeIn{
    animation-name:fadeIn;
    animation-duration:.3s;
    animation-fill-mode:forwards;
}
.fadeOut{
    animation-name:fadeOut;
    animation-duration:.3s;
    animation-fill-mode:forwards;
}

ul.lnb{
    list-style:none;
    margin:0;
    padding:0;
    background-color: #fff;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    text-align:center;
    font-size:0.85em;
    position:absolute;
    top:50px;
    left:calc(50% - 65px);
    width:130px;
    display:none;
    z-index: 10;
}
ul.lnb>li{
    line-height:20px;
}
ul.lnb>li>a{
    display:block;
    font-weight:400;
    padding-top:20px;
}
ul.lnb>li:last-child>a{
    margin-bottom:20px;
}
ul.lnb>li>a:hover{
    border-bottom:1px dashed #ddd;
}
ul.gnb>li:hover>ul.lnb{
    display:block;
}
/*** /header ***/


/******* product detail *******/
.breadcrumb{
    margin:0;
    padding:0;
    list-style:none;
    justify-content:flex-end;
    width:100%;
    font-size:13px;
    line-height:25px;
    margin-top:15px;
    margin-bottom:30px;
}
.top-line{
    border-top:2px solid #333;
}
.breadcrumb li:not(last-child)::after{
    content:"";
    line-height:25px;
    height:27px;
    padding:0 0 0 12px;
    margin:0 0 0 10px;
    color:#333;
    display:inline-block;
    width:10px;
    height:10px;
    background:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path d='M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z'/></svg>") no-repeat;
}
.col-10{
    flex:0 0 10%;
    max-width:10%;
    background:#eee;
    border:1px solid #ddd;
}
.col-10 h4{
    text-align: center;
    margin:5px auto;
}
.col-40{
    flex:0 0 40%;
    max-width:40%;
    padding-left:0;
    padding-right:0;
}
.col-40 img{
   max-width:100%;
   max-height:100%;
}
.bimg{
    border:1px solid #ddd;
    padding:10px;
    margin-bottom:5px;
    cursor:pointer;
}
.simg{
    margin-bottom:15px;
    border:1px solid #ddd;
    padding:10px;
    white-space:nowrap;
    display:flex;
    justify-content:flex-start;
}
.simg img{
    height:80px;
    cursor:pointer;
    margin-left:3px;
    margin-right:3px;
}
.pop{
    width:600px;
    height:600px;
}
.col-50{
    flex:0 0 50%;
    max-width:50%;
}
.infooption{
    width:100%;
}

/**** 상품옵션 ****/
.item_title{
    font-weight:400;
    line-height:2em;
    margin-bottom:0.5em;
}
ul.item_info{
    list-style: none;
    margin:0;
    padding:0;
}
ul.item_info li{
    display:flex;
    justify-content:flex-start;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid #ddd;
    color:#666
}
ul.item_info label{
    display:inline-block;
    width:15%;
    min-width:120px;
    font-size:13px;
    font-weight:700;
    color:#666;
    margin-left: 15px;
}
ul.item_info li:first-child{
    font-size:20px;
    font-weight:700;
    color:#333;
}
ul.item_info li:last-child{
    border:none;
}

del{
    color:#999;
}
.atten{
    font-size:11px;
    color:red;
    margin-left: 5px;
}
.atten::before{
    content:"!";
    border:1px solid #ddd;
    border-radius:2px;
    font-size:9px;
    line-height:11px;
    color:red;
    width:10px;
    text-align:center;
    display:inline-block;
    margin-right:5px;
}
.total{
    border-top:2px solid #333;
    display:flex;
    justify-content:space-between;
    padding-top:15px;
    padding-bottom: 10px;
}
.total label{
    font-size:13px;
    color:#666;
    margin-left:10px;
    font-weight:700;
}
#total-price{
    font-size:22px;
    color:#333;
    font-weight:700;
    margin-right:10px;
}
.total-inner{
    padding:10px 5px;
    border-top:1px solid #333;
    display:flex;
    justify-content: space-between;
    font-size:12px;
}
.total-inner span{
    background:#c193cc;
    color:#fff;
    font-size:12px;
    margin:2px 0 0;
    display:inline-block;
    padding:3px 7px;
    border-radius:3px;
}
.prbox{
    font-size:20px;
    text-align:right;    
}
.prbox p{
    font-size:12px;
}
.point{
    font-size:12px;
}
.prbox span{
    background: #c193cc;
    color:#fff;
    padding:2px 4px;
    line-height:1;
    font-size:10px;
}
.addbox{
    display:flex;
    height:30px;
    margin:5px 0;
}
#count{
    padding:6px 4px;
    border:1px solid #ddd;
    width:30px;
    text-align: center;
}
.crease{
    display:flex;
    flex-direction:column;
}
button#add, button#subtract{
    height:15px;
    padding:1px 3px;
    margin:0;
    border:none;
}




@keyframes brrr{
    0%{left:-5px;}
    5%{left:0px;}
    10%{left:-5px;}
    15%{left:0px;}
    20%{left:-5px;}
    25%{left:0px;}
    30%{left:-5px;}
    35%{left:0px;}
    40%{left:-5px;}
}
@keyframes fadeIn{
    from { opacity:0; }
    to { opacity:1; }
}
@keyframes fadeOut{
    from { opacity:1; }
    to { opacity:0; }
}
